#wrapper {
  margin-top: 2rem;
}

#figh-wrapper {
  width: 50%;
  margin: 2rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#figh-wrapper > *:first-child,
#figh-wrapper > *:last-child {
  flex: 1;
}

.btn-wrapper {
  margin: 0 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
