#history {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#history > * {
  margin: 1rem;
}

.delete-history-item {
  font-size: 16px !important;
  cursor: pointer;
}
